html {
    scroll-behavior: smooth;
}

body {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
    margin-top: 4em;
    margin-bottom: 1em;
}

#header-img {
    max-height: 37px;
}

#submit {
    font-weight: bold;
}

#nav-bar {
    /* background-color: rgba(129, 159, 180, 0.8); */
    background: rgba(129, 159, 180, 0.8);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(129, 159, 180, 0.8), rgba(44, 62, 80, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(129, 159, 180, 0.8), rgba(44, 62, 80, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link {
    font-size: 1.5em;
    margin-right: 3em;
    color: #FFF !important;
    font-weight: bold;
}

.nav-link:hover {
    color: #819FB4 !important;
}

#form {
    text-align: center;
}

.form-control {
    width: 40%;
    text-align: center;
    display: inline-flex;
}

.naslov {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #ffc107;
}

.tekst h4 {
    margin-bottom: 0;
}

.row {
    justify-content: center;
}

#video {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.pricetext {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 973px) {
    .form-control {
        width: 60%;
    }

    .tekst {
        text-align: center;
    }
}

@media (max-width: 446px) {
    #nav-bar {
        justify-content: center;
    }
}